* {
  box-sizing: border-box;
}


/* Styles to add spacing */
.title {
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: -3%;
}

.correction {
  float: inline-end;
  color: red;
  font-weight: bold;
}

.correction2 {
  margin-left: 5%;
  margin-top: 5%;
}